{% extends 'Solver/solver.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href= {%static "css/verify.css" %}>
    <link rel="stylesheet" href= {%static "css/solutions.css" %}>
{% endblock css %}

{% block script %}
<script src= {%static "js/animateSolution.js"%} type="module" defer></script>
{% endblock script %}

{% block hero %}
    
    <div class="note-ribbon">
        <div class="special-note">
            {% if user_uploaded_image %}
                <span class="emphasis-text">Puzzle Solution</span><br><br>
            {% else %}
                <span class="emphasis-text">Evaluations</span> <br><br>
                <div class="results">
                    <div class="first-pass-results first-pass">
                        <span class = 'bold'>Letter Accuracy : {{ evaluations1.correct_letters_percent|floatformat:"2" }}% </span>
                        ({{ evaluations1.correct_letters }}/{{ evaluations1.total_letters }}) <br>
                        <div class="dummy"></div>
                        <span class = 'bold'>Word Accuracy : {{ evaluations1.correct_words_percent|floatformat:"2" }}% </span>
                        ({{ evaluations1.correct_words }}/{{ evaluations1.total_words }}) <br>
                    </div>
                    <div class="second-pass-results second-pass">
                        <span class = 'bold'>Letter Accuracy : {{ evaluations2.correct_letters_percent|floatformat:"2" }}% </span>
                        ({{ evaluations2.correct_letters }}/{{ evaluations2.total_letters }}) <br>
                        <div class="dummy"></div>
                        <span class = 'bold'>Word Accuracy : {{ evaluations2.correct_words_percent|floatformat:"2" }}% </span>
                        ({{ evaluations2.correct_words }}/{{ evaluations2.total_words }}) <br>
                    </div>
                </div>
                <br/>
                <span class="note"> <span class = 'bold'>Note : Refining Takes a While ! </span><br/>
                Click on Refine to futher improve the solution.
                </span>
                <br/><br/>
                <button class="custom-btn proceed-button btn-11">Refine</button>
                <a href={% url 'Solver' %}><button class="custom-btn proceed-button btn-11">Solve Next</button></a>

                {% endif %}
            
                
            </div>

        <span class="note"> <span class = 'bold'>Note : </span> 
        Click on the clue to reveal its respective answer.
        </span>
        <div class="reveal-btn">
            <span class="icon"><i class="fa-solid fa-eye"></i></span>
            <span>Reveal All</span>
        </div>
    </div>

    <div class="crossword">
        <div class="grid-and-options">
            <div class="grid">
                {% for row_data in grid_rows %}
                <div class="grid-row">
                    {% for num,data,sol1,sol2 in row_data %}
                        {% if data == "." %}
                        <div class="grid-cell dead-cell">
                            <div class="cell-num"></div>
                            <div class="cell-data"></div>
                        </div>
                        {% else %}
                            <div class="grid-cell hide-for-answer
                             {% if user_uploaded_image != True and data != sol1 %}
                                {% if data != sol2%}
                                    wrong-cell
                                {%else%}
                                    wrong-cell corrected-cell
                                {%endif%}
                            {% endif %}" >
                                <div class="cell-num">
                                    {% if num != 0 %} {{num}}{% endif %}
                                </div>
                                <div class="cell-data hidden">
                                    <span class="first-pass">{{sol1}}</span>
                                    <span class="second-pass">{{sol2}}</span>    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>     
                {% endfor %}
            </div>
            <div class="grid-change-options">
                <label class="switch">
                    <input type="checkbox" class="checkbox">
                    <span class="slider round"></span>
                </label>
                <span>View First Pass Solution</span>
            </div>
        </div>
        {% comment %} clues {% endcomment %}
        <div class="clues">
            <div class="across-clues">
                <div class="clue-head-title" > Across </div>
                {% for num,clue in across_clues %}
                    <div class="across-clue across-clue-{{num}}">
                        <div class="clue-num"> {{num}} </div>
                        <div class="clue-text"> {{clue|safe}} </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="down-clues">
                    <div class="clue-head-title" > Down </div>
                    {% for num,clue in down_clues %}
                        <div class="down-clue down-clue-{{num}}">
                            <div class="clue-num"> {{num}} </div>
                            <div class="clue-text"> {{clue|safe}} </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock hero %}