/* glassmorphism implemented here */
.grid-cell{
    cursor: auto;
    filter: blur(4px);
}
.grid-cell:hover{
    box-shadow: none !important;
}

.grid-cell.highlight-vert,.grid-cell.highlight-hor,.grid-cell.reveal{
    filter: blur(0px);
}

.across-clue.highlight-vert,
.down-clue.highlight-vert,
.across-clue.highlight-vert > *,
.down-clue.highlight-vert > *,
.across-clue.highlight-hor,
.down-clue.highlight-hor,
.across-clue.highlight-hor > *,
.down-clue.highlight-hor > * {
    background-color: var(--secondary-blue) !important;
}

.across-clue:hover,
.down-clue:hover{
    box-shadow: 0 0 4px var(--secondary-blue);
}

.reveal-btn{
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 0 0  4px 1px rgba( 255, 255, 255, 0.2);
    border-radius: 50px;
    margin-top: 0.5rem;
    width: 10rem;
    transition: 0.2s ease-in;
}

.reveal-btn:hover{
    background-color: rgba(255,255,255,0.3);
}