/* glassmorphism implemented here */
.grid-cell{
    cursor: auto;
    filter: blur(4px);
}
.grid-cell:hover{
    box-shadow: none !important;
}

.grid-cell.highlight-vert,.grid-cell.highlight-hor,.grid-cell.reveal{
    filter: blur(0px);
}

.across-clue.highlight-vert,
.down-clue.highlight-vert,
.across-clue.highlight-vert > *,
.down-clue.highlight-vert > *,
.across-clue.highlight-hor,
.down-clue.highlight-hor,
.across-clue.highlight-hor > *,
.down-clue.highlight-hor > * {
    background-color: var(--secondary-blue) !important;
}

.across-clue:hover,
.down-clue:hover{
    box-shadow: 0 0 4px var(--secondary-blue);
}

.reveal-btn,.reveal-first-pass{
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 0 0  4px 1px rgba( 255, 255, 255, 0.2);
    border-radius: 50px;
    margin-top: 0.5rem;
    width: 10rem;
    transition: 0.2s ease-in;
}

.reveal-btn:hover{
    background-color: rgba(255,255,255,0.3);
}

.results{
    position: relative;
}

.grid-and-options{
    position: relative;
}

.corrected-cell{
    background-color: lightgreen;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

