{% extends 'Solver/solver.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href= {%static "css/verify.css" %}>
    <link rel="stylesheet" href= {%static "css/generator.css" %}>
{% endblock css %}

{% block script %}
<script src={% static 'js/fillClues.js' %}  type="module" defer></script>

{% endblock script %}

{% block hero %}
    <div class="note-ribbon">
        <div class="special-note">
            <span class="emphasis-text"> Confirm Grid </span> <br> <br>
            <div class="btn-container">
                <button class="custom-btn fill-button btn-11">Fill Clues</button>
                <form id="myForm" action="{% url 'Generator' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="row" value={{crossword_dimension}}>
                    <input type="hidden" name="crossword_type" value={{crossword_type}}>
                    <button type="submit" class="custom-btn proceed-button btn-11">Regenerate</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="crossword">
        <div class="grid-and-options">
            <div class="grid">
                {% for row_data in grid_rows %}
                <div class="grid-row">
                    {% for num,data,sol in row_data %}
                        {% if data == "." %}
                        <div class="grid-cell dead-cell">
                            <div class="cell-num"></div>
                            <div class="cell-data"></div>
                        </div>
                        {% else %}
                            <div class="grid-cell" >
                                <div class="cell-num">
                                    {% if num != 0 %} {{num}}{% endif %}
                                </div>
                                <div class="cell-data"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>     
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="json-hidden">{{json}}</div>
{% endblock hero %}